body {
    font-family: Arial;
    text-align: center;
    background: #87CEEB;
    padding: 50px;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.weather-box {
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}